body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.parent {
  width: 200px;
  height: 200px;
  background: #67DAF9;
  margin: 10px;
}

.child {
  width: 100px;
  height: 100px;
  background: #E9552F;
}

.parent.active,
.child.active {
  border: 1px solid red;
}